// Place all the styles related to the configuracoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  text-align: center;
}

#header img {
  width: 200px;
}

#content {
  width: 400px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 15px;

  -webkit-border-radius: 30px;
  border-radius: 30px;

  background: rgb(252, 255, 244); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(197, 206, 190, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252, 255, 244, 1)), color-stop(40%, rgba(223, 229, 215, 1)), color-stop(100%, rgba(197, 206, 190, 1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(197, 206, 190, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(197, 206, 190, 1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(197, 206, 190, 1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 40%, rgba(197, 206, 190, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#c5cebe', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 1);
  box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 1);

}

#form {
  width: 335px;
  margin: 0 auto;
}

div .btn-default {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
}

div #form label {
  margin: 0px;
}

#content {
  overflow: hidden;
  margin: 0 auto;
}

#content ul {
  margin: 0;
}

#opcoes {
  margin-left: 20px;
  width: 100%;
}

.form-control {
  width: 100%;
  margin-bottom: 5px;
}

#registrar, #refazer-senha, #reenviar-email {
  margin-top: 20px;
  float: right;
}

#voltar {
  float: left;
}