<!DOCTYPE html>
<html>
<head>
  <title>SGR</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'fundo', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'painel', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag controller_name, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "#{params[:controller]}-#{params[:action]}", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= render 'layouts/menu_superior' %>
  <%= render 'layouts/menu_lateral' %>
  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">Todos os Direitos Reservados</div>
</div>

</body>
</html>
